name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  schedule:
    - cron: '0 0 1 * *'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: crystal-lang/install-crystal@v1
      
      - name: Install dependencies
        run: |
          shards install
          
      - name: Check format
        run: crystal tool format --check
        
      - name: Run tests
        run: crystal spec
